:root {
  --cor-de-texto: #42b983;
  --cor-de-fundo: rgb(80, 76, 76);
  --cor-de-borda: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  font-family: Arial, sans-serif;

  background-color: var(--cor-de-fundo);
  color: var(--cor-de-texto);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 40px 0;
}